# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Database & SQLite files
*.db
*.db-journal
*.sqlite

# Build outputs
dist/
build/

# Uploaded document images
backend/uploads/*
!backend/uploads/.gitkeep

# Logs & temp files
*.log
npm-debug.log*
.DS_Store
